<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container"></div>
    <table style="width:50px">
    </table>
    <button class="test">testit</button>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"  ></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"  ></script>
    <script type="text/javascript" src="js/src/bloomberg.js"  ></script>
  </body>
</html>
